extends ../layout.jade

block contents
    nav.menu
        a(href="../"+name) Index
    h1.
        #{meta.title} Form (#{path})
    div.tabs
        ul
            each m, name in methods
                li(data-id=name)= name.toUpperCase()
        div
            each m, name in methods
                div(data-id=name)
                    if ! m.implemented
                        h2 UNIMPLEMENTED
                    else
                        div
                            h2= name
                            p.
                                !{contents}
                        div
                            h2 Valid methods:
                            ul
                                each m, name in methods
                                    li
                                        b.
                                            #{name}:&nbsp;
                                        span= m.description
                                            if ! m.implemented
                                                b.
                                                    &nbsp;(UNIMPLEMENTED)
                        if Object.keys(filters).length
                            div
                                h2 Available Filters:
                                ul
                                    each fitems, ext in filters
                                        each fdata, k in fitems
                                            li
                                                b.
                                                    .#{ext}:&nbsp;
                                                span= fdata.contents
                                                - var m = "["+fdata.methods.join(", ")+"]";
                                                b.
                                                    &nbsp;#{m}
                                                
