extends ../layout.jade

append head
    style
        include ./formItem.css

block contents
    div.header
        h1.
            #{meta.title} Form (#{path[0]})
    div.formWindow
        div.formContainer
          nav.menu
              a(href="../"+name) Index
          div.tabs
              ul
                  each f, name in methods
                      li(data-id=name)= name.toUpperCase()
              div
                  each f, name in methods
                      div.form(data-id=name, data-path=path[0] data-method=name)
                          div.fields !{f.tpl} 
                          div.formButtons
                              button.reset Reset
                              button.submit Submit
                              if Object.keys(filters).length
                                select.download
                                  option(selected,disabled,value="")="Download as..."
                                  each fitems, ext in filters
                                      each fdata, k in fitems
                                          option(value=ext)=ext

                          div.controls
                            ul
                                if f.error
                                    li.error= f.error
                                if f.isDefault
                                    - var hint="This is the default form template.  Use JSON data to provide your request parameters or configure specific form template in API definition.";
                                    li.info(title=hint)
                                        | (Default Form)
    div.resultsWindow
        div.resultsContainer
          header
              h2 Results
              button#clearResults Clear
          div#results

    script
        include ./formClient.js

